<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!-- SITE TITLE -->
	<title>Ilia Ivanov portfolio</title>

	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="css/templatemo-style.css">
	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!--

Ultra Profile

https://templatemo.com/tm-464-ultra-profile

-->
</head>
<body data-spy="scroll" data-target="#rock-navigation">
<div id="app">
	<!-- START NAVIGATION -->
	<div class="navbar navbar-default bs-dos-nav navbar-fixed-top sticky-navigation" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target="#rock-navigation">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Ilia Ivanov</a>
			</div>
			<nav class="collapse navbar-collapse" id="rock-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation text-uppercase">
					<!-- <li v-for="item in navBarItems">
						<a :href="item.href" class="smoothScroll">{{ item.title }}</a>
					</li> -->
					<li><a href="#home" class="smoothScroll">Home</a></li>
					<li><a href="#work" class="smoothScroll">My Work</a></li>
					<li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
					<li><a href="#resume" class="smoothScroll">Resume</a></li>
					<li><a href="#about" class="smoothScroll">About</a></li>
					<li><a href="#contact" class="smoothScroll">Contact</a></li>
				</ul>
			</nav>

		</div>
	</div>
	<!-- END NAVIGATION -->

	<!-- START HOME -->
	<section id="home" class="templatemo-home">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-1"></div>
				<div class="col-md-8 col-sm-10">
					<h1 class="tm-home-title"><strong>{{ self.name }}</strong></h1>
					<h2 class="tm-home-subtitle">{{ self.position }}</h2>
					<p v-html="self.description"></p>
					<a href="#work" class="btn btn-default smoothScroll tm-view-more-btn">Let's Begin</a>
				</div>
				<div class="col-md-2 col-sm-1"></div>
			</div>
		</div>
	</section>
	<!-- END HOME -->

	<!-- START work -->
	<section id="work" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-11">
					<h2 class="title">My <strong>Work</strong></h2>
				</div>
				<div v-for="work in works" class="col-md-4 col-sm-4 m-0">
					<div class="work-wrapper">
						<i class="fa" :class="work.icon"></i>
						<h3 class="text-uppercase tm-work-h3">{{ work.name }}</h3>
						<hr>
						<p class="left" v-html="work.desc"></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END work -->

	<!-- START PORTFOLIO -->
	<section id="portfolio" class="tm-portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow bounce">
					<div class="title">
						<h2 class="tm-portfolio-title">My <strong>Portfolio</strong></h2>
					</div>

					<!-- START ISO SECTION -->
					<div class="iso-section">
						<ul class="filter-wrapper clearfix">
							<li v-for="(filter, index) in portfolio.filters">
								<a href="#" class="opc-main-bg" :class="{ 'selected' : index == 0}" :data-filter="filter.tag">{{ filter.title }}</a>
							</li>
						</ul>
						<div class="iso-box-section">
							<div class="iso-box-wrapper col4-iso-box">
								<div class="iso-box col-md-3 col-sm-3 col-xs-12" v-for="example in portfolio.examples" :class="example.tags.join(' ')">
									<div class="portfolio-thumb">
										<img :src="example.img" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<h3 class="portfolio-item-title">{{ example.title }}</h3>
											<p>{{ example.desc }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END PORTFOLIO -->

	<!-- START RESUME -->
	<section id="resume" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2><strong>my</strong></h2>
				</div>
				<div class="col-md-4 col-sm-6">
					<h2 class="title text-center"><strong>Stack</strong></h2>
					<p v-for="param in self.infoSet">
						<span class="tm-info-label">{{ param.title }}</span>
						{{ param.text }}
					</p>
				</div>
				<div class="col-md-4 col-sm-6">
					<h2 class="title text-center"><strong>Rules</strong></h2>
					<ul>
						<li>Each line of code I do is optimised for maximum impact and conciseness.</li>
						<li>My promise of service begins right at the consultation phase</li>
						<li>I believe in being honest and giving the best quality of work to my customers.</li>
						<li>I aim to provide my customers with the best quality of service with a market-oriented approach to achieve their business goals.</li>
						<li>Principles of coding - <a href="https://www.python.org/dev/peps/pep-0020/#the-zen-of-python">PEP 20</a>.</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-6">
					<h2 class="title text-center"><strong>Skills</strong></h2>
					<div v-for="skill in self.skills">
						<h4 class="tm-progress-label">{{ skill.name }} <i class="progress-percent-small">{{ skill.percent }}%</i></h4>
						<div class="progress tm-progress">
							<div class="progress-bar progress-bar-danger" role="progressbar" :aria-valuenow="skill.percent" aria-valuemin="0" aria-valuemax="100" :style="'width:' + skill.percent + '%;'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END RESUME -->

	<!-- START ABOUT -->
	<section id="about" class="tm-about">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-7">
					<div class="title">
						<h2>This is <strong>me</strong></h2>
						<h1 class="tm-red-text">Software <strong>engineer</strong></h1>
					</div>
					<p>During four years I spent working on a field of information technology, I have always tried my best to break this cliche, so I have taken many different paths in my career - test automation engineer, java developer, android developer, project manager and salesman. In addition, during the years of professional rush I have seen examples when the startups never heard of before became successful businesses, and I myself also learned from mistakes.</p>
					<p>It makes no difference whether you are a huge company representative or an entrepreneur, I will do my best to provide you with the most effective solution suitable for your case.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- END ABOUT -->

	<!-- START SOCIAL -->
	<section id="social" class="tm-social">
		<div class="container">
			<div class="row">
					<div v-for="social in socials" class="col-md-3 col-sm-6 wow rotateInUpLeft" data-wow-delay="0.3s">
						<div class="media" :class="social.class">
							<a :href="social.link">
								<div class="media-object pull-left">
									<i class="fa" :class="social.icon"></i>
								</div>
								<div class="media-body">
									<h3>{{ social.class }}</h3>
								</div>
							</a>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!-- END SOCIAL -->

	<!-- START CONTACT -->
	<section id="contact" class="tm-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<p>Copyright &copy; 2024 Ultra Profile
                    . design: <a rel="nofollow noopener" href="https://templatemo.com">template mo</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- END CONTACT -->
</div>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/jquery.nav.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/imagesloaded.min.js"></script>
	<script src="js/custom.js"></script>

	<!-- D -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="vue/main.js"></script>
</body>
</html>
